{% import 'util.jinja' as util %}

The following are the least accessible objects in your account:
<ul>
    {% for (object, user_count) in least_accessible|sort(attribute="1,0") %}
    <li>
        <code> {{ object }} </code> (accessible by {{ "{:,.0f}".format(user_count) }}
        {{ util.plural("user", user_count)}})
    </li>
    {% endfor %}
</ul>