{% import 'util.jinja' as util %}

The following are the most accessible objects in your account:
<ul>
    {% for (object, user_count) in most_accessible|sort(attribute="0")|sort(attribute="1", reverse=true) %}
    <li>
        <code> {{ object }}
        </code> (accessible by {{ "{:,.0f}".format(user_count) }} {{ util.plural("user", user_count) }})
    </li>
    {% endfor %}
</ul>