{{ percent_password_only|round(precision=2, method='common') }}%
of logins over the past 7 days have been via password, without MFA. These
logins have been from the following user(s):
<ul>
    {% for (user) in password_only_users|sort %}
    <li>
        {{ user }}
    </li>
    {% endfor %}
</ul>
{% if percent_password_only > 5 %}
If you must use password-only authentication, consider implementing a password policy.
{% endif %}